<div id="page", class="prefecture-page">
  
  <h1>都道府県一覧・追加</h1>
  
  
  <%= form_with model: @prefecture, url: admin_prefectures_path do |f| %>
  
    <table class="form">
      
      <tr>
        <th>都道府県名</th>
        <td><%= f.text_field :prefecture_name %></td>
        <td><%= f.submit '新規追加', class: "success-btn" %></td>
      </tr>
      
    </table>
  <% end %>
  
  
  
  
  <table class="prefecture-index">
    
    <thead>
      <tr>
        <th>都道府県名</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @prefectures.each do |prefecture| %>
        <tr>
          <td>
            <%= prefecture.prefecture_name %>
          </td>
          <td>
            <%= link_to "編集する", edit_admin_prefecture_path(prefecture), class: "primary-btn" %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
  </table>
</div>
